{% extends '../base.html' %}
{% block title %}Students{% endblock %}
{% block register_login %}
<ul class="navbar-nav">
  {% if student.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'student:logout' %}">Logout</a>
  </li>
  <li>
    <a class="nav-link" href="{% url 'student:notif' %}">
      <i class="fa fa-bell" style="color: white"></i>
    </a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'student:register' %}">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'student:login' %}">Login </a>
  </li>
  {% endif %}
</ul>
{% endblock %}
{% block main_section %}
<div class="container">
    <h1 style="text-align: center; padding-top: 30px">Notifications</h1>
    <div class="row" style="padding-left: 200px; padding-top: 80px">
        <div class="col-lg-9 right">
            <div class="box shadow-sm rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Recent</h6>
                </div>
                <div class="box-body p-0">
                    <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header">
                        <div class="font-weight-bold mr-3">
                            <div class="text-truncate">New Company</div>
                            <div class="small">Axtria has just registered here with us</div>
                        </div>
                        <span class="ml-auto mb-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                                </div>
                            </div>
                            <br />
                            <div class="text-right text-muted pt-1">1d</div>
                        </span>
                    </div>
                    <div class="p-3 d-flex align-items-center osahan-post-header">
                        <div class="font-weight-bold mr-3">
                            <div class="mb-2">Facebook is hiring</div>
                            <button type="button" class="btn btn-outline-success btn-sm">Apply now</button>
                        </div>
                        <span class="ml-auto mb-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                                </div>
                            </div>
                            <br />
                            <div class="text-right text-muted pt-1">2d</div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="box shadow-sm rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Earlier</h6>
                </div>
                <div class="box-body p-0">
                    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                        <div class="font-weight-bold mr-3">
                            <div class="text-truncate">Google has finished hiring</div>
                            <div class="small">Next round of hiring will start after 2 weeks. Stay tuned</div>
                        </div>
                        <span class="ml-auto mb-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                                </div>
                            </div>
                            <br />
                            <div class="text-right text-muted pt-1">3d</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}