<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="h-100 h-custom" style="background-color: #8fc4b7">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                class="w-100"
                style="
                  border-top-left-radius: 0.3rem;
                  border-top-right-radius: 0.3rem;
                "
                alt="Sample photo"
              />
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">
                  Student Registration
                </h3>

                {% if e1 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Error!</strong> Please check in the credentials again!!
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}

                {% if e2 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Alert!</strong> Password and Confirm passwords donot match!!
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}

                <form class="px-md-2" method="post">
                  {% csrf_token %}
                  <div class="form-outline mb-4">
                    <label for="name">Name:</label>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      placeholder="John Smith"
                      name="name"
                      required
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label for="email">Email:</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      placeholder="johnsmith@gmail.com"
                      name="email"
                      required
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label for="roll">Roll Number:</label>
                    <input
                      type="text"
                      id="roll"
                      class="form-control"
                      placeholder="21CS10009"
                      name="roll"
                      required
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label for="phone">Contact Number:</label>
                    <input
                      type="number"
                      id="phone"
                      class="form-control"
                      placeholder="9832144857"
                      name="phone"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label for="password">Password:</label>
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="password"
                      name="password"
                      required
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label for="cpassword">Confirm Password:</label>
                    <input
                      type="password"
                      id="cpassword"
                      class="form-control"
                      placeholder="confirm password"
                      name="cpassword"
                      required
                    />
                  </div>

                  <button type="submit" class="btn btn-success btn-lg mb-1">
                    Submit
                  </button>

                  <p style="margin-top: 20px;">Already registered? Click here to <a href="{% url 'cadmin:login' %}" style="text-decoration: none">login</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"
  ></script>
</html>
